body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-image: url('fondo05.jpg');
    color: #333;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: right; /* Alineación del texto a la derecha */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li:first-child {
    margin-left: auto; /* Mueve el primer elemento (Inicio) hacia la derecha */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #005792;
}

h2 {
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #005792;
    color: white;
}