@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('fondo2.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgb(50, 96, 135); /* Color de fondo: rojo 50, verde 96, azul 135 */

}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content:'';
    position:absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

/*Casillero*/
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /*cortar loque sobresalga del recuadro --*/ overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease ,height .2s ease;
}
.wrapper.active-popup{
    /*visibility: visible;
    opacity: 1;*/
    transform: scale(1);
}
.wrapper.active{
    height: 590px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    /*display: block;*/
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    /*display: none;*/
    transition: none;
    transform: translateX(400px);
}

.wrapper .form-box.register{
    /*display: none;*/
    position: absolute;
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active .form-box.register{
    /*display: block;*/
    position: absolute;
    transition: none;
    transform: translateX(0px);
}

/*Estilo el boton de cancelar inicio sesion*/
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size:  2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /*redondear borde deñ casillero de la x*/border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color:#162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
/*levantar las letras*/
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size:  1.2em;
    color: #162938;
    line-height: 57px;
}

/*opcionales*/
.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

/*estilo boton*/
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*Redireccionamiento Registro*/
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}


.profile {
    position: absolute;
    top: 20px;
    right: 20px; /* Cambiar 'right' a 'left' si se desea mover a la izquierda */
    display: flex;
    align-items: center;
    background-color: #ffffff83;
    padding: 10px;
    border-radius: 12px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Borde circular */
    margin-right: 10px;
}

.container {
    max-width: 900px;
    margin: 100px auto 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #005792;
}

h2 {
    margin-top: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}


footer {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #005792;
    color: white;
}